<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')%>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class = "background-color"></div>
        <div class="error-box-log" id="error-box-log-div">
            <p id = "error-box"></p>
        </div>
        <div class = "user-info-div">
            <div class = "user-info-container">
                <p class="user-info-label">Group:</p>
                <input type="text" id="group-entry" name="log-in" class="user-info-input">
            </div>
            <div class = "user-info-container">
                <p class="user-info-label">Username:</p>
                <input type="text" id="username-entry" name="log-in" class="user-info-input">
            </div>
            <div class = "user-info-container">
                <p class="user-info-label">Password:</p>
                <input type="text"id="password-entry" name="log-in" class="user-info-input">
            </div>
            <div style="display: flex; justify-content: center;">
            <button style="display:flex;justify-content: center;align-items: center; height:100px; width:300px;border-radius: 30px;background-color: #c7c7c7; font-size:40px;cursor: pointer;" onclick="logInButtonClicked()">Log In</button>
        </div>
        </div>
        <script src = "./code/main.js"></script>
    </body>
</html>